body {
  margin: 0 auto;
  padding: 0 auto;
}

#header {
  height: 130px;
  border: 5px solid green;
  position: relative;
  padding: 0px;
}

#logo {
  position: absolute;
  top: 0px;
}

#logo img {
  width: auto;
  height: 130px;
}

#message {
  position: absolute;
  font-style: italic;
  bottom: 0px;
  right: 0px;
  margin: 20px;
}

.topbar {
  height: 50px;
  background: yellow;
}